# Python cache and build artifacts
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
*.log

# Virtual environment
V2/app/.env
.venv/
env.py
venv/
V2/venv/


# IDE and editor config
.idea/
*.idea/
shelf/
workspace.xml

# Docker
docker-compose.yml
alembic.ini

# Test and documentation
pytest.ini
_docs/
_docs

# Application-specific
logs/
exports/
